.project-container {
  display: inline-block;
  margin-bottom: -1px;
  border: 1px solid #ccc;
  padding: 20px;
  .bars-container {
    margin: .5em 0;
    .bar {
      display: inline-block;
      width: 10px;
      margin: 0 1px;
      height: 40px;
      &.available {
        background: #79e89e;
      }
      &.unavailable {
        background: #d05855;
      }
      &.partially-available {
        background: #f7c573;
      }
    }
  }
  .available-time,
  .timeline-container {
    display: flex;
    margin: 0 1px;
    justify-content: space-between;
    .project-title {
      color: #666666;
      font-weight: bold;
    }
    .current-availability {
      text-transform: capitalize;
    }
    & .available {
      color: #79e89e;
    }
    & .unavailable {
      color: #d05855;
    }
    & .partially-available {
      color: #f7c573;
    }
  }
}
.hover-container {
  color: #333;
  padding: .5em;
  position: absolute;
  top: 0;
  display: inline-block;
  width: 300px;
  z-index:99;
  border: 1px solid #ccc;
  background: #fff;
  .outage-data {
    background: #f2f2f2;
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 0.8em;
    .icon {
      margin-right: .5em;
    }
  }
  .time-data {
    font-size: 0.8em;
    font-weight: bold;
  }
  .time-data,
  .outage-data {
    padding: 0.5em;
  }
}
.hover-container:after {
  content: '';
  width: 0; 
  height: 0; 
  position: absolute;
  bottom: -18px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  
  border-top: 18px solid #fff;
}
.hover-container:before {
  content: '';
  width: 0; 
  height: 0; 
  position: absolute;
  bottom: -19px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 19px solid transparent;
  border-right: 19px solid transparent;
  
  border-top: 19px solid #ccc;
}